.nav {
  margin: unset;
  padding: unset;
  list-style-type: none;
  width:280px;
  .nav.item {
    cursor: pointer;
    .link {
      background-color: black;
      a {
        color: lightgray;
      }
      padding: 15px;
    }
    &.close{
        .apiList{
            display: none;
        }
    }
    &.open{
        .apiList{
            display: block;
        }
    }
    .apiList {
      list-style-type: none;
      // padding: unset;
      background-color: darkgrey;
      .apiListItem {
        padding: 10px;
        .apiLink {
          color: white;
        }
      }
    }
  }
  
}

a {
  text-decoration: none;
}

#swagger-ui {
  display: flex;
}
.swagger-ui {
  flex: 1;
}
body {
  margin: unset;
}
