.nav {
  margin: unset;
  padding: unset;
  list-style-type: none;
  width: 280px;
  overflow-x: auto;
  .sectionTitle {
    user-select: none;
    cursor: pointer;
    padding: 10px;
    background-color: #343131;
    color: lightgray;
    &:hover {
      background-color: #413c3c;
    }
  }
  .parts {
    &.close {
      display: none;
    }
    &.open {
      display: block;
    }
    list-style-type: none;
    padding: unset;
    background-color: darkgrey;
    .part {
      .link {
        border: unset;
        margin: unset;
        color: black;
        display: flex;
        align-items: center;
        .method {
          margin-right: 4px;
          p {
            text-transform: uppercase;
            // background-color: green;
            border-radius: 4px;
            padding: 4px;
          }
        }
        .partDescription {
          font-size: 12px;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: unset;
  &:visited {
    color: unset;
  }
}

body {
  margin: unset;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}
